.blog-header__info {
  padding-block: var(--space-l-xl) 0;
  display: flex;
  flex-direction: column;
  margin-inline: auto;
  background-color: var(--color-bg);
  z-index: 10;
  position: relative;

  & h1 {
    font-size: var(--text-4xl);
    font-weight: var(--weight-ultrabold);
    padding-bottom: max(0.5em, 2rem);
  }
}

.blog__header {
  & picture {
    margin-inline: calc(-1 * var(--space-m));
    max-width: calc(100% + 2 * var(--space-m));

    @media (width >= 100rem) {
      margin-inline: auto;
      max-width: 100%;
    }
  }
}

.blog__info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 0.25em 1rem;
  line-height: 1;
  border-bottom: 1px solid var(--color-gray-3);
  font-size: var(--text-md);
  height: 2.5rem;
}

.blog__image {
  object-fit: cover;
  width: 100%;
  aspect-ratio: 16 / 9;
  background-color: var(--color-gray-4);

  @media (--xl) {
    aspect-ratio: 2.5;
  }
}

.blog__author {
  display: flex;
  align-items: center;

  & a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    aspect-ratio: 1;
    transition: color 0.2s ease;
    color: var(--color-gray-2);

    &:is(:hover, :focus-visible) {
      color: var(--color-green);
    }

    &:first-of-type {
      margin-inline-start: 0.5em;
    }
  }

  & svg {
    width: 1.5rem;
    aspect-ratio: 1;
  }
}
