.blog-card {
  padding: 0;
  display: flex;
  flex-direction: column;
  position: relative;

  > picture {
    overflow: hidden;
    border-radius: inherit;
  }

  li > & {
    height: 100%;
  }
}

.blog-card__image {
  aspect-ratio: 2;
  object-fit: cover;
  width: 100%;
}

.blog-card__header {
  padding: 1.5rem 2rem 1.25rem 1.5rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.blog-card__title {
  border-bottom: 3px solid currentColor;
  margin-bottom: var(--space-s);
  padding-bottom: 0.3em;
  font-weight: var(--weight-black);
  font-size: var(--text-2xl);
  line-height: 1.1;

  .blog-card--highlight & {
    font-size: var(--text-3xl);
  }
}

.blog-card__link {
  position: absolute;
  inset: 0;
  border-radius: inherit;
}

li:has(> .blog-card--highlight) {
  grid-column: 1 / -1;
}
