.blog-header__info {
  padding-block: var(--space-xl-2xl) var(--space-m-l);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-s);
}

.blog__image {
  aspect-ratio: 2;
  object-fit: cover;
  width: 100%;
}
