@property --turn {
  syntax: "<angle>";
  inherits: true;
  initial-value: 1turn;
}

.button {
  --transition: 0.2s ease;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 10rem;
  background: none;
  block-size: 2.75rem;
  font-size: var(--text-sm);
  font-weight: var(--weight-bold);
  padding-inline: 1.25rem;
  text-decoration: none;
  transition: var(--transition) background-color, var(--transition) color,
    var(--transition) border-color, 10s var(--ease-out-cubic) --turn;

  &:is(:hover, :focus-visible) {
    border-color: var(--color-text);
    background: var(--color-text);
    color: white;
  }

  &:is([disabled], [aria-disabled="true"]) {
    opacity: 0.4;
    cursor: not-allowed;
  }
}

.button--primary {
  background-color: var(--color-text);
  color: white;
  position: relative;
  isolation: isolate;
  z-index: 0;

  &:is(:hover, :focus-visible) {
    --turn: 5.5turn;

    &::after {
      scale: 1;
    }
  }

  &:focus-visible {
    outline: none !important;
  }

  &::before {
    content: "";
    position: absolute;
    z-index: -1;
    inset: 0;
    border-radius: inherit;
    background-color: inherit;
    pointer-events: none;
  }

  &::after {
    pointer-events: none;
    content: "";
    position: absolute;
    z-index: -2;
    inset: -0.25rem;
    border-radius: inherit;
    background-image: conic-gradient(
      in oklch from var(--turn),
      var(--color-green),
      var(--color-orange),
      var(--color-red),
      var(--color-purple),
      var(--color-green)
    );
    scale: 0.8;
    transition: 0.4s var(--ease-out-cubic) scale;
  }
}

.button--secondary {
  border: 3px solid currentColor;
}

.button--large {
  block-size: 3.5rem;
  padding-inline: 2.25rem;
}

.button--inverted {
  color: var(--color-gray-6);

  &:hover {
    border-color: var(--color-gray-6);
    background-color: var(--color-gray-6);
    color: var(--color-gray-1);
  }
}

.button--icon-only {
  aspect-ratio: 1;
  padding-inline: 0;

  & svg {
    --size: 1.25rem;
    block-size: var(--size);
    inline-size: var(--size);
    stroke-width: 3;
  }
}
