.text-image {
  &.bg-white + &.bg-white,
  &:not(.bg-white) + &:not(.bg-white) {
    padding-top: 0;
    z-index: -1;
    scroll-margin-top: calc(var(--space-xl-2xl) + var(--header-height));

    @media (--3xl) {
      margin-top: calc(-1 * var(--space-2xl));
    }
  }
}

.text-image__content {
  --wrapper-max: 90rem;
  display: flex;
  flex-direction: column;
  gap: var(--space-m-l);
  align-items: flex-start;
  justify-content: flex-end;

  & img {
    object-fit: cover;
    overflow: hidden;
    border-radius: 0.75rem;
    border: 1px solid var(--color-gray-5);
    aspect-ratio: 1.2;
  }

  & h2 {
    line-height: 1.1;
    text-wrap: balance;
    max-width: 15ch;
    border-bottom: 3px solid currentColor;
    padding-bottom: 0.2em;
    margin-bottom: var(--space-2xs);
  }

  & p {
    text-wrap: pretty;
  }

  @media (--lg) {
    flex-direction: row;
    gap: 0;
  }
}

.text-image__copy {
  display: flex;
  flex-direction: column;
  gap: var(--space-2xs);
  max-width: 45ch;
  border-radius: 0.75rem;

  @media (--lg) {
    box-shadow: 12.5px 12.5px 10px rgba(0, 0, 0, 0.035),
      100px 100px 80px rgba(0, 0, 0, 0.07);
    align-self: flex-start;
    padding: var(--space-m-l);
    background-color: white;
    margin-top: 3rem;
    margin-right: -5rem;
    z-index: 10;

    .text-image.bg-white & {
      background-color: var(--color-gray-5);
      border: 1px solid rgb(0 0 0 / 0.1);
    }

    .text-image__content--reverse & {
      align-self: flex-end;
      margin-right: 0;
      margin-left: -5rem;
      margin-bottom: 3rem;
    }
  }
}

.text-image__content--reverse {
  @media (--lg) {
    flex-direction: row-reverse;
    justify-content: flex-end;
  }
}
