.card {
  position: relative;
  padding: 1.5rem;
  background-color: var(--color-gray-6);
  border: 1px solid var(--border-card, transparent);
  border-radius: 1rem;
  box-shadow: var(--shadow-3xl, 0.25rem 0.25rem 1.25rem rgb(98 98 98 / 0.3));
}
