<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-KEQSY9XL5W"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-KEQSY9XL5W');
    </script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    {% include "partials/meta-info.njk" %}

    {# When using fonts, load them via fonts.css before the critical CSS so they are rendered ASAP #}
    {# <link rel="stylesheet" href="/assets/css/fonts/fonts.css?{{ assetHash }}" /> #}
    {% if env.nodeenv !== 'production' %}
      <!-- We're not in production mode -->
      <link rel="stylesheet" href="/assets/css/global.css" />
    {% endif %}
  </head>

  <body>
    {% include "partials/header.njk" %}

    <main>
      {% block content %}
        {{ content | safe }}
      {% endblock %}
    </main>

    {% if not hideNewsletter %}
      {% include "partials/sections/newsletter.njk" %}
    {% endif %}

    {% if not hideLogos %}
    <section class="bg-white py-l mt-2xl-3xl">
      <div class="wrapper stack-m">
        <h2 class="text-sm tracking-wide text-center uppercase text-gray-2">
          In cooperation with
        </h2>
        <ul role="list" class="hero__logos" aria-label="In cooperation with">
          {%- for logo in home.logoRow -%}
            <li>
              <a href="{{ logo.url }}?ref=firmware-ci.com" target="_blank" rel="noopener noreferrer" aria-label="{{ logo.name }}">
                <img eleventy:widths="300" src="/assets/images/logos/{{ logo.image }}" alt="" />
              </a>
            </li>
          {%- endfor -%}
        </ul>
      </div>
    </section>
    {% endif %}

    {% include "partials/footer.njk" %}
    {% script src = "global.js" %}
  </body>
</html>
