---
tags: blog
permalink: /blog/{{ page.fileSlug | slugify }}/index.html
---

{% extends "layouts/base.njk" %}

{% block content %}
  <article class="stack-xl">

    <header>
      <a href="/blog/" aria-label="Back to blog">Blog /</a>
      <h1 class="text-3xl leading-tight weight-ultrabold">{{ title }}</h1>
    </header>

    <div class="prose">
      {{ content | markdown | safe }}
    </div>
  </article>
{% endblock %}