---
tags: blog
permalink: /blog/{{ page.fileSlug | slugify }}/index.html
---

{% extends "layouts/base.njk" %}

{% block content %}
  <article class="blog | stack-xl wrapper">
    <header class="blog__header">
      <div class="blog-header__info">
        <h1 class="text-4xl leading-tight text-center weight-ultrabold">
          {{ title }}
        </h1>
        <div class="cluster" style="--cluster-justification: center; --cluster-gap: .5em;">
          <time class="blog-card__date" datetime="{{ date }}">{{ date | readableDate }}</time>
          <span aria-hidden="true">|</span>
          <p>
            by {{ author }}
          </p>
        </div>
      </div>
      {% if image %}
        <img class="blog__image" src="/assets/images/blog/{{ image }}" alt="" eleventy:widths="400,600,800,1000,1280,1600,2000" sizes="100vw" />
      {% endif %}

    </header>

    <div class="prose">
      {{ content | markdown | safe }}
    </div>
  </article>
{% endblock %}