---
permalink: /{{ page.fileSlug | slugify }}/index.html
---

{% extends "layouts/base.njk" %}

{% block content %}
  <article class="stack-xl">
    <header >
      <div class="wrapper" style="--wrapper-max: 70rem;">

        <h1 class="text-4xl weight-ultrabold pt-[1em]">
          {{ title }}
        </h1>
      </div>
    </header>

    <div class="prose wrapper">
      {{ content | markdown | safe }}
    </div>
  </article>
{% endblock %}