<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-KEQSY9XL5W"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-KEQSY9XL5W');
    </script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    {% include "partials/meta-info.njk" %}

    {% if env.nodeenv !== 'production' %}
      <!-- We're not in production mode -->
      <link rel="stylesheet" href="/assets/css/global.css" />
    {% endif %}
  </head>

  <body>
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-M7ZW24V9"
	height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
    {% include "partials/header.njk" %}

    <main>
      {{ content | safe }}
    </main>

    {% include "partials/footer.njk" %}
    {% script src = "global.js" %}
  </body>
</html>
