/**
 * WRAPPER
 * Sets a max width, adds a consisten gutter and horizontally
 * centers the contents
 */
.wrapper {
  width: min(100% - var(--space-s) * 2, var(--wrapper-max, 80rem));
  margin-inline: auto;
  position: relative;
}
