---
title: "Firmware Testing | Automated Firmware CI/CD & Validation"
layout: "layouts/base.njk"
permalink: /
---

{% include "partials/sections/hero.njk" %}
{% include "partials/sections/intro.njk" %}
{% include "partials/sections/facts.njk" %}

{%- for section in home.textImageSections -%}
  {% set reverse = loop.index0 % 2 !== 0 %}
  {% include "partials/text-image.njk" %}
{%- endfor -%}

{% script src = "pages/index.js" %}
