---
title: "Pricing"
layout: "layouts/base.njk"
permalink: /pricing/
---

<div class="wrapper flow">
  <div class="[ center-flex ] [ flow ] [ pb-16 ]">
    <h1 class="text-4xl font-bold text-center">Pricing Plans</h1>
    <p class="text-xl text-center max-w-2xl mx-auto">Choose the plan that best fits your needs</p>
  </div>

  <div class="[ auto-grid ] [ gap-8 ]">
    <div class="[ card ] [ flow ]">
      <h2 class="text-2xl font-bold">Hosted</h2>
      <p class="text-2xl">Custom Pricing</p>
      <ul class="pricing-list flow">
        <li>We host your hardware in our lab</li>
        <li>Hardware Modification and Setup</li>
        <li>Github / Gitlab Integration</li>
        <li>Direct Support to the Developers</li>
        <li>Access to our Template Database</li>
      </ul>
      <a href="mailto:hello@blindspot.software" class="button">Contact Us</a>
    </div>

    <div class="[ card ] [ flow ]">
      <h2 class="text-2xl font-bold">On-Site</h2>
      <p class="text-2xl">Custom Pricing</p>
      <ul class="pricing-list flow">
        <li>On-site Deployment</li>
        <li>Works in Air-gapped Setups</li>
        <li>Fully Customizable Integration into your Development Pipeline</li>
        <li>Direct Support to the Developers</li>
        <li>Custom test plugins</li>
      </ul>
      <a href="mailto:hello@blindspot.software" class="button">Contact Us</a>
    </div>

    <div class="[ card ] [ flow ] [ opacity-50 ]">
      <div class="bandarole">Coming Q2/2025</div>
      <h2 class="text-2xl font-bold">Hybrid</h2>
      <p class="text-2xl">Available in Q2/2025</p>
      <ul class="pricing-list flow">
        <li>Device-under-Test stay in your Infrastructure</li>
        <li>Custom hardware integration</li>
        <li>Dedicated support</li>
        <li>On-premise deployment</li>
        <li>Custom AI model training</li>
      </ul>
      <div class="pricing-newsletter">
        <p class="text-sm mb-4">Get notified when Hybrid plan becomes available:</p>
        <a href="https://813c19a7.sibforms.com/serve/MUIFAB0XG3d0zD9c7EEZmIDycbGLPULoGj4oHuScTB8do3dpPYoW8wL6iJPxlodVE-kLmMlLCvWjW9nHj8pZBcgTLlWwyABENYW9OFMGPQsbrTk56lpfQ_NcaVcsdBOUZ05I6lOyAFjXo-h_Se2kfI5kTp2qDj931lMTdCEr_WGIwk3k_sHZsVE3IwLoucdUNUaUvY1L2UAGezLw" 
           target="_blank" 
           class="button button--green">
          Subscribe to Updates
        </a>
      </div>
    </div>
  </div>
</div>
