---
title: "Thank You"
layout: "layouts/thank-you.njk"
permalink: /thankyou/
---

<div class="wrapper flow" style="min-height: calc(100vh - 300px)">
  <div class="center-flex flow pt-xl pb-32">
    <div class="stack-l max-w-2xl mx-auto text-center">
      <h1 class="text-4xl weight-ultrabold">Thank You for Subscribing!</h1>
      <p class="text-xl text-gray-2">We're excited to have you join our newsletter. You'll be the first to know about our latest updates and insights.</p>
      <div class="mt-8">
        <a href="/" class="button button--primary">Return to Homepage</a>
      </div>
    </div>
  </div>
</div>
