<section class="counters | section | wrapper">
  {% set number = 1234 %}
  {% set label = "Devices tested" %}
  {% include "partials/counter.njk" %}

  {% set number = 345 %}
  {% set label = "Hours of development saved" %}
  {% include "partials/counter.njk" %}
</section>