<section class="hero | wrapper">
  <div class="stack-s-m">
    <h1 data-stagger>
      Accelerate <br /> your 
      Firmware <br /> Development
    </h1>

    <p  data-stagger class="hero__description">
      Test your Firmware with ease using the next-generation test framework
      FirmwareCI.
    </p>
    <a
      data-stagger
      href="https://app.firmware-ci.com/app/auth/login"
      class="button button--green button--large button--rainbow"
      rel="noopener noreferrer"
      target="_blank"
    >
      Get Started
    </a>
  </div>

  <img
    data-stagger
    src="/assets/images/hero.webp"
    eleventy:widths="400, 600, 800, 1200, 1600"
    eleventy:formats="avif,webp"
    alt=""
    sizes="100vw, (min-width: 50em) 50rem" />
</section>