<div class="section">
  <div class=" wrapper | text-center | stack-m">
    <h2 class="text-3xl lg:text-4xl weight-ultrabold leading-flat">Newsletter</h2>

    <p class="prose text-md">
      Join our newsletter to get the latest news about the conference. Also, we'll notify you once we open our CFP and the tickets are available.
    </p>

    <a href="#" class="button button--primary button--large button--rainbow">
      Subscribe
    </a>
  </div>
</div>