<div class="newsletter | wrapper" style="--wrapper-max: 80rem">
  <div class="newsletter__content">
    <h2 class="text-3xl lg:text-4xl weight-ultrabold leading-flat">Newsletter</h2>

    <div class="stack-s" style="max-width: 40ch">
      <p class="prose text-md">
        Join our newsletter to get the latest news about the conference. Also, we'll notify you once we open our CFP and the tickets are available.
      </p>

      <a href="#" class="button button--primary button--large button--green">
        Subscribe
      </a>
    </div>
  </div>
</div>