<div class="newsletter | wrapper" style="--wrapper-max: 80rem">
  <div class="newsletter__content">
    <h2 class="text-3xl lg:text-4xl weight-ultrabold leading-flat">Newsletter</h2>

    <div class="stack-s" style="max-width: 40ch">
      <p class="prose text-md">
        If you want to learn more about FirmwareCI and stay connected, subscribe to our Newsletter.
      </p>

      <a href="https://813c19a7.sibforms.com/serve/MUIFAB0XG3d0zD9c7EEZmIDycbGLPULoGj4oHuScTB8do3dpPYoW8wL6iJPxlodVE-kLmMlLCvWjW9nHj8pZBcgTLlWwyABENYW9OFMGPQsbrTk56lpfQ_NcaVcsdBOUZ05I6lOyAFjXo-h_Se2kfI5kTp2qDj931lMTdCEr_WGIwk3k_sHZsVE3IwLoucdUNUaUvY1L2UAGezLw" target="_blank" class="button button--primary button--large button--green">
        Subscribe
      </a>
    </div>
  </div>
</div>