<footer class="footer">
  <div class="footer__content | wrapper">
    <div class="stack-3xs">

      <ul class="footer__links" role="list">
        <li>
          <a href="https://blindspot.software/imprint/" rel="noopener noreferrer" target="_blank">Imprint</a>
        </li>
        <li>
          <a href="https://blindspot.software/privacy-policy/" rel="noopener noreferrer" target="_blank">Privacy</a>
        </li>
      </ul>

      <p class="text-gray-4">&copy; 2024 BlindSpot Software</p>
    </div>

    <a href="https://blindspot.software?ref=firmware-ci.com" aria-label="Made by blindspot">
      {% icon icon = "blindspot",
      class = "footer__logo" %}
    </a>
  </div>

  <div class="wrapper">
    <svg class="footer__shape"  aria-hidden="true" viewBox="1 -1 660 184" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M.74.74H13C107.582.74 184.26 77.41 184.26 172v12.26H.74zm24.52 25.025V159.74h133.975C153.341 88.472 96.523 31.659 25.26 25.765" fill="currentColor" /><path fill-rule="evenodd" clip-rule="evenodd" d="M159.74.74H172C266.583.74 343.26 77.41 343.26 172v12.26H159.74zm24.52 25.025V159.74h133.975C312.341 88.472 255.523 31.659 184.26 25.765" fill="currentColor" /><path fill-rule="evenodd" clip-rule="evenodd" d="M318.74.74H331C425.582.74 502.26 77.41 502.26 172v12.26H318.74zm24.52 25.025V159.74h133.975C471.341 88.472 414.523 31.659 343.26 25.765" fill="currentColor" /><path fill-rule="evenodd" clip-rule="evenodd" d="M477.74.74H490C584.582.74 661.26 77.41 661.26 172v12.26H477.74zm24.52 25.025V159.74h133.975C630.341 88.472 573.523 31.659 502.26 25.765" fill="currentColor" /></svg>
  </div>
</footer>