<article class="card | post-card {{ 'post-card--highlight' if loop.index0 == 0 }}">
  <h2 class="post-card__title">{{ post.data.title }}</h2>

  <time class="post-card__date" datetime="{{ post.data.date }}">{{ post.data.date | readableDate }}</time>
  <p class="post-card__date">{{ post.data.author }}</p>
  {% if post.data.image %}
    <img class="post-card__image" src="/assets/images/blog/{{ post.data.image }}" alt="" eleventy:widths="400,600,800,1000,1200" sizes="100vw, (min-width: 64em) 64rem" />
  {% endif %}
  <a class="post-card__link" href="{{ post.url }}" aria-labell="View Post: {{ post.data.title }}"></a>
</article>