<section class="text-image | section {{ "bg-white" if section.bg === 'white' }}">
  <div class="wrapper | text-image__content {{ 'text-image__content--reverse' if reverse }}">
    <div class="text-image__copy">
      <h2 class="text-2xl lg:text-3xl weight-ultrabold">{{ section.headline }}</h2>
      <p class="lg:text-md text-gray-2">{{ section.text }}</p>
    </div>

    <img eleventy:widths="600" src="/assets/images/{{ section.image }}" alt="" />
  </div>
</section>