<section class="text-image | section {{ "bg-white" if section.bg === 'white' }}" {{ "id=" + section.id  | safe if section.id }}>
  <div class="wrapper | text-image__content {{ 'text-image__content--reverse' if reverse }}">
    <div class="text-image__copy">
      <h2 class="text-xl lg:text-2xl weight-ultrabold">{{ section.headline }}</h2>
      <p class="lg:text-md text-gray-2">{{ section.text }}</p>

      {% if section.painpoint %}
        <p class="text-image__painpoint">{{ section.painpoint }}</p>
      {% endif %}

      {%- if section.links -%}
        <div class="cluster pt-xs" style="--cluster-gap: var(--space-2xs)">
          {%- for link in section.links -%}
            <a 
              href="{{ link.url }}"
              class="button {{ 'button--primary' if loop.index0 === 0 else 'button--secondary' }}"
              {{ "rel='noopener noreferrer' target='_blank'" | safe if link.url.startsWith('http')  }}
            >
              {{ link.label }}
            </a>
          {%- endfor -%}
        </div>
      {%- endif -%}
    </div>

    <img eleventy:widths="600" src="/assets/images/{{ section.image }}" alt="" />
  </div>
</section>
